%p
  %b Courtesy title:
  = @person.courtesy_title
%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
