%h1= @missionary.full_name
= @missionary.unit.name
%br
= form_for @missionary do |f|
  .span-12 
    = f.label :mission_id
    = f.collection_select :mission_id, Mission.all(:order => "name"), :id, :name, {:prompt => "Select a mission"}
    = link_to "add mission", new_mission_path, :id => "new_mission"
    %br
    = f.label :language
    = f.text_field :language, :disabled => disabled?, :class => "toggle"
    %br
    = f.label :length_of_service_in_months, "LOS (months)"
    = f.text_field :length_of_service_in_months, :value => 24, :disabled => disabled?, :class => "toggle"
    %br   
    = f.label :mtc_date
    = f.date_select :mtc_date, {:disabled => disabled?, :prompt => {:day => "Day", :month => "Month", :year => "Year"}}, {:class => "toggle"}  
    %br
    = f.submit "add mission information"
  .span-12.last
    #mission_address