= content_for :javascripts do 
  = javascript_include_tag 'colorbox/colorbox/jquery.colorbox-min.js'
  = javascript_include_tag 'jquery.form.js'
  
%h1 New Missionary

= render 'form'

= link_to 'Back', missionaries_path
