%h1 Listing units

%table
  %tr
    %th{:class => 'left'} Name
    %th{:class => 'center'} Awaiting Call
    %th{:class => 'center'} Call Received
    %th{:class => 'center'} Serving
    %th{:class => 'center'} Returned

  - @units.each do |unit|
    %tr
      %td{:class => 'left'}
        = link_to unit.name, unit
      %td{:class => 'center'}= Missionary.in_unit(unit.id).awaiting_call.count
      %td{:class => 'center'}= Missionary.in_unit(unit.id).call_received.count
      %td{:class => 'center'}= Missionary.in_unit(unit.id).serving.count
      %td{:class => 'center'}= Missionary.in_unit(unit.id).returned.count
