%h1 Listing units

%table
  %tr
    %th Name
    %th Awaiting Call
    %th Call Received
    %th Serving
    %th Returned

  - @units.each do |unit|
    %tr
      %td
        = link_to unit.name, unit
      %td= Missionary.count(:conditions => ["unit_id = ? AND state = ?", unit.id, 'awaiting_call'])
      %td= Missionary.count(:conditions => ["unit_id = ? AND state = ?", unit.id, 'call_received'])
      %td= Missionary.count(:conditions => ["unit_id = ? AND state = ?", unit.id, 'serving'])
      %td= Missionary.count(:conditions => ["unit_id = ? AND state = ?", unit.id, 'returned'])            
%br

= link_to 'New unit', new_unit_path
