= form_for @mission do |f|
  -if @mission.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@mission.errors.count, "error")} prohibited this mission from being saved:"
      %ul
        - @mission.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_area :address
  .actions
    = f.submit 'Save'