%h1 Missions

%table
  %tr
    %th Name
    %th Address
    %th Country
    %th
    %th

  - @missions.each do |mission|
    %tr
      %td
        = link_to image_tag("http://maps.google.com/maps/api/staticmap?center=#{mission.lat},#{mission.lng}&zoom=13&size=100x100&sensor=false"), mission_path(mission)
      %td
        %strong= link_to mission.name, mission_path(mission)
        %br
        = sanitize RedCloth.new(mission.address).to_html
      %td= mission.country.name if mission.country
      %td= link_to 'Edit', edit_mission_path(mission)
      %td= link_to 'Destroy', mission, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New mission', new_mission_path
