%p
  = sanitize(RedCloth.new(@mission.mailing_address).to_html)
  
%table
  %tr
    %th Name
    %th Unit
    %th Status
  - @mission.missionaries.each do |missionary|
    %tr
      %td= link_to missionary.full_name, missionary_path(missionary)
      %td= link_to missionary.unit.name, unit_path(missionary.unit)
      %td= missionary.state.humanize
      
= link_to 'Edit', edit_mission_path(@mission) 