%p
  %b Name:
  = @mission.name
%p
  %b Address:
  = sanitize(RedCloth.new(@mission.mailing_address).to_html)
%p
  %b Country:
  = @mission.country.name if @mission.country

= link_to 'Edit', edit_mission_path(@mission)
\|
= link_to 'Back', missions_path
