!!!
%html
  %head
    %title Missionary Tracking
    = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'base'    
    = stylesheet_link_tag 'styles'
    = stylesheet_link_tag '/javascripts/colorbox/example1/colorbox.css'
    = yield :stylesheets

    = javascript_include_tag :defaults
    = javascript_include_tag params[:controller]
    = javascript_include_tag 'colorbox/colorbox/jquery.colorbox-min.js'
    = javascript_include_tag 'jquery.form.js'
    = yield :javascripts

    = csrf_meta_tag
  %body
  .container
    = render :partial => "/shared/navbar"
    = yield
