!!!
%html
  %head
    %title Missionary Tracking
    = stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'blueprint/ie.css', :media => 'screen, projection'
    = stylesheet_link_tag 'map'

    = javascript_include_tag :defaults
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"
    = javascript_include_tag '/missionaries/map.js'

    = csrf_meta_tag
    %meta{:charset=>"utf-8"}
    
  %body
    = yield